*{
    box-sizing: border-box;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    padding-block: 10px;
    background-color: #818589;
    color: white;
}

.navbar > ul {
    display: flex;
}

.navbar ul li{
    list-style: none;
    margin: 10px;
}

.logo {
    width: 100px;
}

.card{
    margin: 10px;
    border: 1px solid black;
    width: 250px;
}

.restaurantCard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cuisines{
    word-wrap: break-word;
}

.Shimmer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.each-box{
    background-color: whitesmoke;
    margin: 20px;
    width: 255px;
    height: 455px;
}